@{
    ViewData["Title"] = "Privacy Policy";
}



<contents>
    <div class="w-clear wikis">
        <div class="w-clear">
            <div class="w-clear">
                <div class="main-tit">
                    <h2 class="name">Privacy</h2>
                </div>
            </div>
            <div class="w-clear box-share">
                <div class="addthis_native_toolbox">
                    <p>Use this page to detail your site's privacy policy.</p>
                </div>
            </div>
        </div>
    </div>
</contents>

